<!DOCTYPE html>
<html>
  <head>
    <title>Vuejs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body data-email="<%= current_staff.email %>">
    <%= yield %>

    <%= javascript_pack_tag 'staff' %>
    <%= stylesheet_pack_tag 'staff' %>
  </body>
</html>
